.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.rds
Files_from_Jupyterhub/*
!Files_from_Jupyterhub/Big_excel_table
Files_from_Jupyterhub/Big_excel_table/*
!Files_from_Jupyterhub/Big_excel_table/Data_xl_TEMPLATE.xlsm
Apps/App_803/dat.csv
Apps/App_803/dat_summ.csv
Apps/App_804/109_adjusted_data_summ.csv
